/* Custom CSS for userChrome.css */
@import url("./edge-frfox/chrome/userChrome.css");
@import url("./micaFox/mica.css");

:root {
	--uwp-accent-color: -moz-accent-color; /* Accent color */
	--uwp-accent-text: -moz-accent-color-foreground; /* Accent color text */
	--uwp-mainwindow: transparent;
	--uwp-background: #f7f7f7;
}

#urlbar-input-container {
	border-radius: 5px !important;
}

#urlbar-input-container:hover {
	background-color: transparent !important;
}

#urlbar-background {
	border: 1px solid #e0e0e0de;
	border-radius: 5px;
}