/* Custom CSS for userChrome.css */
@import url("./edge-frfox/chrome/userChrome.css");

:root {
	--uwp-accent-color: AccentColor; /* Accent color */
	--uwp-accent-text: AccentColorText; /* Accent color text */
	--uwp-mainwindow: var(--urlbar-box-bgcolor) !important; /* Main window background */
}

#urlbar-input-container {
	border-radius: calc(var(--toolbarbutton-border-radius) + 2px) !important;
}

#urlbar-background {
	background-color: var(--input-bgcolor) !important;
	box-shadow: var(--uc-urlbar-shadow, none) !important;
}

#urlbar #urlbar-input-container:hover, #searchbar:hover {
	background-color: var(--input-bgcolor) !important;
	border: 1px solid var(--input-border-color) !important;
}

#urlbar[open="true"] #urlbar-input-container:hover {
	border: 1px solid transparent !important;
}

#navigator-toolbox {
	border-bottom: 1px solid var(--chrome-content-separator-color) !important;
}
